{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - {% if structure is not null %}{{ structure.name }} - Modification {% else %} Structure - Ajout {% endif %}
{% endblock %}

{% block headline %}
    {% if structure is not null %}{{ structure.name }} - Modification {% else %} Structure - Ajout {% endif %}
{% endblock %}

{% block action %}
{% include '/dashboard/admin_menu.html.twig' with {'slug': structure.slug} %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
