{% extends "PigassCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Informations personnelles{% endblock %}

{% block headline %}Informations personnelles{% endblock %}

{% block action %}
    <li class="btn btn-primary">
        <a href="{{ path('fos_user_change_password') }}" title="Modifier le mot de passe">
            {{ icon('lock') }} Mot de passe
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        {{ form(form) }}
    </div>
{% endblock %}
