{% extends "PigassCoreBundle::layout.html.twig" %}

{% block headline %}Création de l'administrateur du site{% endblock %}

{% block action %}
{% endblock %}

{% block content %}
    <form method="post">
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
    </form>
{% endblock %}
