<div class="panel panel-default">
    <div class="panel-header">Votre adhésion à {{ membership.structure.name }} a été validée.</div>
    <div class="panel-body">
        <p>La fiche d'adhésion à {{ membership.structure.name }} a été correctement reçue et enregistrée.</p>
        <p>L'adhésion a été complètement validée le {{ membership.payedOn|date('d-m-Y') }}.</p>
    </div>
    <div class="panel-footer">Ce message a été généré automatiquement par le portail d'adhésions.</div>
</div>
