{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}
