{% extends "layout.html.twig" %}

{% block headline %}
    Répartitions - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
