{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Questions - Ajouter/Modifier{% endblock %}

{% block headline %}Question - modifier{% endblock %}

{% block action %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        {{ form(form) }}
    </div>
{% endblock %}
