{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Adhésion - Questions complémentaires{% endblock %}

{% block headline %}Questions complémentaires{% endblock %}

{% block action %}
    {% if ato == true %}
        <li class="btn btn-primary">
            <a href="{{ path('app_dashboard_user(', {'skip': true, 'userid': person.user.id}) }}" title="Passer cette étape">
                <i class='fas fa-fast-forward'></i> Passer
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card">
        {{ form(form) }}
    </div>
{% endblock %}
