{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Questions - Ajouter/Modifier{% endblock %}

{% block headline %}Question - modifier{% endblock %}

{% block action %}
{{ mopa_bootstrap_menu('parameter') }}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
