{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Questions - Ajouter/Modifier{% endblock %}

{% block headline %}Question - modifier{% endblock %}

{% block action %}
{% include '/dashboard/admin_menu.html.twig' with {'slug': slug} %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
