{% extends 'layout.html.twig' %}

{% block headline %}Ajouter/modifier un formulaire d'évaluation{% endblock %}

{% block content %}
    {% form_theme form 'jquery.collection.html.twig' %}
    <div class="card">
        <div class="card-body list-group list-group-flush">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.criterias_collection').collection({
            allow_up: false,
            allow_down: false,
            add_at_the_end: true,
            add: '<a href="#"><i class="fas fa-plus"></i></a>',
            remove: '<a href="#"><i class="fas fa-trash"></i></a>',
            position_field_selector: '.criteria.position',
        });
        $('.criterias_collection-collection-actions').addClass('float-right');
    </script>
{% endblock %}
