{% extends 'PigassCoreBundle::layout.html.twig' %}

{% block headline %}Adhésion - enregistrement{% endblock %}

{% block action %}
    <li class="panel panel-danger">
        <div class="panel-heading">
            Vous vous apprêtez à adhérer à {{ structure }} en réglant la cotisation.
        </div>
    </li>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        {{ form(form) }}
    </div>
{% endblock %}
