{% extends 'PigassCoreBundle::layout.html.twig' %}

{% block headline %}Adhésion - enregistrement{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Vous vous apprêtez à adhérer à {{ structure }} en réglant la cotisation d'un montant de {{ kparam('reg_' ~ structure.slug ~ '_payment') }} €.
        </div>
    </div>
    {{ form(form) }}
{% endblock %}
