{% extends 'PigassCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Adhésion - Questions complémentaires{% endblock %}

{% block headline %}Questions complémentaires{% endblock %}

{% block content %}
    <div class="panel panel-default">
        {{ form(form) }}
    </div>
{% endblock %}
