{% extends 'PigassCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Questions - Ajouter/Modifier{% endblock %}

{% block headline %}Question - modifier{% endblock %}

{% block action %}
    <li class="btn btn-primary">
        <a href="{{ path('user_register_question_index', {'slug': slug}) }}" title="Retour à la liste des questions complémentaires">
            {{ icon('hand-left') }} Retour
        </a>
    </li>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}
