{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - Informations personnelles{% endblock %}

{% block headline %}Informations personnelles{% endblock %}

{% block action %}
    <li class="btn btn-primary">
        <a href="{{ path('fos_user_change_password') }}" title="Modifier le mot de passe">
            <i class='fas fa-lock'></i> Mot de passe
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="card row">
        <form method="POST" class="form-horizontal" role="form">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-default float-right">Enregistrer</button>
        </form>
    </div>
{% endblock %}
