{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - {% if fee is not null %}{{ fee }} - Modification {% else %} Tarification - Ajout {% endif %}
{% endblock %}

{% block headline %}
    {% if fee is not null %}{{ fee }} - Modification {% else %} Tarification - Ajout {% endif %}
{% endblock %}

{% block content %}
    <div class="card">
        {{ form(form) }}
    </div>
{% endblock %}
