{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - {% if fee is not null %}{{ fee }} - Modification {% else %} Tarification - Ajout {% endif %}
{% endblock %}

{% block headline %}
    {% if fee is not null %}{{ fee }} - Modification {% else %} Tarification - Ajout {% endif %}
{% endblock %}

{% block action %}
{% include '/dashboard/admin_menu.html.twig' with {'slug': slug} %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
